<section>

    <h2>Категорії страв</h2>

    <button class="btn" type="button" (click)="addModal('add', 0)">
        Додати категорію страви
    </button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Індекс</th>
                <th scope="col">Страва</th>
                <th scope="col">Назва категорії</th>
                <th scope="col">Зображення</th>
                <th scope="col">Дії</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let categori of categoriesDishes; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ categori.categoryIndex}}</td>
                <td>{{categori.dishes.dishesName}}</td>
                <td>{{categori.categoryName }}</td>
                <td class="image">
                    <img [src]="categori.image" />
                </td>
                <td class="btn_tr">
                    <a (click)="addModal('edit',categori)" type="button" title="Редагувати">
                        <img src="../../../../assets/icons/edit.svg" alt="Редагувати">
                    </a>
                    <a (click)="delCategori(categori)" type="button" title="Видалити">
                        <img src="../../../../assets/icons/del.svg" alt="Видалити">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</section>