.modal-content {
    width: 560px;
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    text-align: left;
    background: var(--clr-white);
    border-radius: 12px;
    padding: 40px;


    .btn-close {
        position: absolute;
        top: 25px;
        right: 25px;
        border: none;
        cursor: pointer;
    }

    .title {

        position: relative;
        margin: 0 auto;
        font-size: 25px;
        line-height: 1.33em;
        font-weight: 600;
        color: var(--clr-black);

        &:before {
            content: "";
            position: absolute;
            top: -34px;
            left: -11px;
            width: 26px;
            height: 73px;
            background: url(../../../../assets/icons/cap.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: block;
            transform: rotate(-20deg);

        }
    }

    .social_auth {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;

        .social_auth_btn {
            width: 45%;
            height: 50px;
            text-decoration: none;
            line-height: 1;
            border-radius: 1.5rem;
            overflow: hidden;
            position: relative;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
            background-color: #fff;
            color: #121212;
            border: none;
            cursor: pointer;


            .button-decor {
                position: absolute;
                inset: 0;
                background-color: var(--clr-two);
                transform: translateX(-100%);
                transition: transform .3s;
                z-index: 0;
            }

            .button-content {
                display: flex;
                align-items: center;
                font-weight: 600;
                position: relative;
                overflow: hidden;


                .button__icon {
                    width: 48px;
                    height: 48px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    margin-right: 10px;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .button__text {
                    display: inline-block;
                    transition: color .2s;
                    padding: 2px 1.5rem 2px;
                    padding-left: .75rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 150px;
                    vertical-align: middle
                }
            }

            &:hover .button__text {
                color: #fff;
            }

            &:hover .button-decor {
                transform: translate(0);
            }
        }

    }

    .modal-body {
        margin-top: 30px;
    }

    .login_button {
        display: flex;
        flex-direction: column;

        .btn {
            box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
        }

        .popup-links-wrapper {
            display: flex;
            align-items: center;
            margin-top: 15px;
            justify-content: space-between;
            font-size: 16px;
            line-height: 1.5em;
            color: var(--clr-grey);

            a {
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                outline: none;
                color: inherit;
                transition: var(--transition);
                color: var(--clr-grey);
            }

            div a {
                color: var(--clr-one);
            }
        }
    }
}

@media (max-width: 524px) {
    .modal-content {
        width: 100%;
        padding: 16px;
    }
}