<div class="ingredient_nodal">
    <div class="btn-close" (click)="close()" aria-label="Закрити"></div>
    <div class="add_ingridients">
        <div class="left_block">
            <h3>Введіть кількість порцій</h3>
            <input type="number" name="number_servings" [(ngModel)]="numberServings">
            <br>
            <button class="btn" (click)="addGroup()">Додати групу інгредієнтів</button>
            <button class="btn" (click)="creatIng('getCategory')">Створити категорію продукта</button>
            <button class="btn" (click)="creatIng('getProduct')">Створити продукт</button>
            <button class="btn" (click)="creatIng('getUnit')">Створити одиницю</button>
            <button class="btn" (click)="save()">Зберегти</button>
        </div>

        <div class="right_block">
            <div *ngFor="let ingredient of ingredients; let i = index" class="ingridient_block">
                <div class="delGroup" (click)="delGroup(i)" aria-label="Видалити групу">
                    <img src="../../../../assets/icons/del.svg" alt="Видалит групу">
                </div>
                <label for="nameIngGroup">Назва групи </label>
                <input type="text" [(ngModel)]="ingredient.name" name="nameIngGroup"
                    placeholder="Назва групи інгредієнтів">
                <ul class="ingidient">
                    <li *ngFor="let group of ingredient.group; let j = index">
                        <div class="name_product">
                            <mat-form-field class="select">
                                <mat-label class="mat_label">Оберіть категорії</mat-label>
                                <mat-select [formControl]="toppings" multiple
                                    (selectionChange)="onCategorySelectionChange()" class="form-select">
                                    <mat-option *ngFor="let category of productsCategories"
                                        [value]="category.productCategoryLink">
                                        {{ category.productCategoryName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!-- Додано mat-autocomplete для вибору продукту -->
                            <mat-form-field class="select">
                                <mat-select [formControl]="productControl"
                                    (selectionChange)="onProductInputChange(i, j)" class="form-select">
                                    <mat-option *ngFor="let option of filteredProducts" [value]="option">
                                        {{ option.productsName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="ibg_sel">
                            <div class="input_area">
                                <input type="number" [(ngModel)]="group.amount" placeholder="Введіть кількість">
                            </div>
                            <mat-form-field class="select">
                                <input matInput placeholder="Одиниці виміру" [(ngModel)]="group.unitsMeasure"
                                    [matAutocomplete]="unitAuto">
                                <mat-autocomplete #unitAuto="matAutocomplete">
                                    <mat-option *ngFor="let unit of getFilteredUnits()" [value]="unit.unitName">
                                        {{ unit.unitName }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div class="input_area">
                                <input type="text" [(ngModel)]="group.notes" placeholder="Коментар">
                            </div>

                            <div class="delIng" (click)="delIng(i, j)" aria-label="Видалити ігридієнт">
                                <img src="../../../../assets/icons/del.svg" alt="Видалит інгидієнт">
                            </div>
                        </div>
                    </li>
                </ul>
                <button class="btn" (click)="addIngredient(i)">Додати інгредієнт</button>
            </div>
        </div>
    </div>
</div>