<section>

    <button (click)="recipes_form = !recipes_form; resetForm()" class="btn" data-rel="address" type="button">
        {{ !recipes_form ? "ДОДАТИ ТОВАР" : "ВІДМІНИТИ" }}
    </button>


    <div class="table_block" [ngClass]="{ active: recipes_form }">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Страви</th>
                    <th scope="col">Категорія</th>
                    <th scope="col">Назва</th>
                    <th scope="col">Картинка</th>
                    <th scope="col">Дії</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipes of recipes; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ recipes.dishes.dishesName}}</td>
                    <td>{{ recipes.categoriesDishes.categoryName}}</td>
                    <td>{{ recipes.recipeTitle }}</td>
                    <td class="image">
                        <img [src]="recipes.mainImage" />
                    </td>

                    <!--        <td class="btn_tr">
                            <a (click)="editGood(recipes)" type="button" title="Редагувати">
                                <img src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/icon%2Fedit.svg?alt=media&token=2c3ab95d-c6f0-4f36-9127-626674e9d9ab&_gl=1*96vw8j*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjkyMDIxNS4zMzAuMS4xNjk2OTIwMjcyLjMuMC4w"
                                    alt="">
                            </a>
                            <a (click)="delGood(recipes)" type="button" title="Видалити">
                                <img src="https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/icon%2Fdel.svg?alt=media&token=5765a105-be2a-4537-b99e-b5f0447c88a4&_gl=1*12xf5iz*_ga*MzkwMTAyNDg5LjE2ODc3NzIwMTI.*_ga_CW55HF8NVT*MTY5NjkyMDIxNS4zMzAuMS4xNjk2OTIwNDI2LjYwLjAuMA.."
                                    alt="">
                            </a>
                        </td> -->
                </tr>
            </tbody>
        </table>
    </div>


    <div class="form_conteiner" [ngClass]="{ active: !recipes_form }">
        <form [formGroup]="recipesForm" (ngSubmit)="creatRecipe()" class="form_recipes">

            <div *ngIf="formStep === 1" class="input_section">
                <h2>Оберіть пункти рецепта</h2>

                <!--Страви-->
                <div class="input_block">
                    <h4>Страви</h4>
                    <div class="input dishes">
                        <mat-form-field class="select">
                            <mat-label class="mat_label">Оберіть вид страви</mat-label>
                            <mat-select formControlName="dishes" name="dishes" class="form-select"
                                (selectionChange)="onDishesSelection()">
                                <mat-option *ngFor="let dishes of dishes" [value]="dishes">
                                    {{dishes.dishesName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p>або</p>
                        <button type="button" class="btn btn-primary" (click)="addModal('dishes', 0)">
                            <i class="bi bi-plus"></i> Додати
                        </button>
                    </div>
                </div>

                <!--Категорії страв-->
                <div class="input_block">
                    <h4>Категорії</h4>
                    <div class="input categoriesDishes">
                        <mat-form-field class="select">
                            <mat-label class="mat_label">Оберіть категорії</mat-label>
                            <mat-select formControlName="categoriesDishes" name="categoriesDishes" class="form-select">
                                <mat-option *ngFor="let category of filteredCategories" [value]="category">
                                    {{category.categoryName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p>або</p>
                        <button type="button" class="btn btn-primary" (click)="addModal('categoriesDishes', 0)">
                            <i class="bi bi-plus"></i> Додати
                        </button>

                    </div>
                </div>

                <!--Ключі рецептів-->
                <div class="input_block">
                    <h4>Ключі рецептів</h4>
                    <div class="input recipeKeys">
                        <mat-form-field class="select">
                            <mat-label class="mat_label">Оберіть категорії ключів</mat-label>
                            <mat-select formControlName="recipeKeys" name="recipeKeys" class="form-select" multiple>
                                <mat-option *ngFor="let recipeKeys of filteredCategories"
                                    [value]="recipeKeys.categoryName ">
                                    {{recipeKeys.categoryName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!--Кухні-->
                <div class="input_block">
                    <h4>Кухні</h4>
                    <div class="input cuisine">
                        <mat-form-field class="select">
                            <mat-label class="mat_label">Оберіть кухню</mat-label>
                            <mat-select formControlName="cuisine" name="cuisine" class="form-select">
                                <mat-option *ngFor="let cuisine of cuisine" [value]="cuisine">
                                    {{cuisine.cuisineName}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <p>або</p>
                        <button type="button" class="btn btn-primary" (click)="addModal('cuisine', 0)">
                            <i class="bi bi-plus"></i> Додати
                        </button>

                    </div>
                </div>

                <!--Методм приготування-->
                <div class="input_block">
                    <h4>Методм приготування</h4>
                    <div class="input methodCooking">
                        <mat-form-field class="select">
                            <mat-label class="mat_label">Оберіть методи</mat-label>
                            <mat-select formControlName="methodCooking" name="methodCooking" class="form-select"
                                multiple>
                                <mat-option *ngFor="let methodCooking of methodCooking" [value]="methodCooking">
                                    {{methodCooking}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p>або</p>
                        <button type="button" class="btn btn-primary" (click)="addModal('methodCooking', 0)">
                            <i class="bi bi-plus"></i> Додати
                        </button>

                    </div>
                </div>

                <!--Інструменти-->
                <div class="input_block">
                    <h4>Інструменти</h4>
                    <div class="input tools">
                        <mat-form-field class="select">
                            <mat-label class="mat_label">Оберіть інструменти</mat-label>
                            <mat-select formControlName="tools" name="tools" class="form-select" multiple>
                                <mat-option *ngFor="let tools of tools" [value]="tools">
                                    {{tools}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p>або</p>
                        <button type="button" class="btn btn-primary" (click)="addModal('tools', 0)">
                            <i class="bi bi-plus"></i> Додати
                        </button>

                    </div>
                </div>

                <div class="input_block">
                    <h4>Рівень важкості</h4>
                    <div class="input difficultyPreparation">
                        <mat-form-field class="select">
                            <mat-label class="mat_label">Оберіть важкість приготування</mat-label>
                            <mat-select formControlName="difficultyPreparation" name="difficultyPreparation"
                                class="form-select">
                                <mat-option *ngFor="let difficultyPreparation of difficultyPreparation"
                                    [value]="difficultyPreparation">
                                    {{difficultyPreparation.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="input_block">
                    <h4>Сезон</h4>
                    <div class="input bestSeason">
                        <mat-form-field class="select">
                            <mat-label class="mat_label">Оберіть сезон</mat-label>
                            <mat-select formControlName="bestSeason" name="bestSeason" class="form-select" multiple>
                                <mat-option *ngFor="let bestSeason of bestSeason" [value]="bestSeason">
                                    {{bestSeason.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="batton_bloxk">
                    <button type="button" class="btn next" (click)="nextStep('two')">
                        Далі
                    </button>
                </div>
            </div>


            <div *ngIf="formStep === 2" class="input_section">
                <h2>Основні дані рецепта</h2>
                <div class="input_block">
                    <h4>Назва рецепта</h4>
                    <div class="input recipeTitle">
                        <input formControlName="recipeTitle" type="text" name="recipeTitle" class="form-control"
                            placeholder="*Введіь назву рецепта">
                    </div>
                </div>

                <div class="input_block">
                    <h4>Підзаголовок</h4>
                    <div class="input recipeSubtitles">
                        <input formControlName="recipeSubtitles" type="text" name="recipeSubtitles" class="form-control"
                            placeholder="Введіь підзаголовок рецепта">
                    </div>
                </div>

                <div class="input_block descriptionRecipe">
                    <h4>Опис рецепта</h4>
                    <div class="input ">
                        <textarea ormControlName="descriptionRecipe" name="descriptionRecipe" iclass="form-control"
                            placeholder="*Введіь опис рецепта"></textarea>

                    </div>
                </div>

                <div class="input_block mainImage">
                    <h4>Головне зображення</h4>
                    <div class="input load_image">
                        <div class="load_file">
                            <input class="form-control form-control-lg" type="file" (change)="upload($event)" />
                        </div>

                        <div class="progress_line">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                    aria-label="Default striped example" [style.width.%]="uploadPercent"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="image_block">
                            <td class="image">
                                <img [src]="valueByControl('mainImage')" />
                            </td>

                        </div>

                        <button (click)="deleteImage()" type="button" class="btn se">
                            Видалити фото
                        </button>

                    </div>


                </div>

                <div class="input_block focusKeyword">
                    <h4>Фокусна ключова фраза</h4>
                    <div class="input ">
                        <input formControlName="focusKeyword" type="text" name="focusKeyword" class="form-control"
                            placeholder="*Введіь фокусну ключову фразу">
                    </div>
                </div>

                <div class="input_block">
                    <h4>Ключові Слова</h4>
                    <div class="input keywords">
                        <textarea ormControlName="keywords" name="keywords" iclass="form-control"
                            placeholder="*Введіь ключові слова"></textarea>
                    </div>
                </div>

                <div class="batton_bloxk allstep">
                    <button type="button" class="btn back" (click)="back()">
                        Назад
                    </button>

                    <button type="button" class="btn next" (click)="nextStep('three')">
                        Далі
                    </button>

                </div>
            </div>
        </form>


        <div *ngIf="formStep === 3" class="input_section ingredients">
            <h2>Інгридієнти</h2>
            <h3>Кількість порці - {{numberServings}}</h3>
            <table>
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Назва</th>
                        <th scope="col">Кількість</th>
                        <th scope="col">Міра</th>
                        <th scope="col">Коментар</th>
                        <th scope="col">Зображення</th>

                    </tr>
                </thead>
                <tbody>
                    <ng-container class="group_block" *ngFor="let products of ingredients; let i = index">
                        <tr class="group_name">
                            <td colspan="7">
                                {{ products.name }}
                            </td>
                        </tr>
                        <ng-container *ngFor="let group of products.group; let j = index" class="ing_block">
                            <tr class="ing_line">
                                <td>{{ j + 1 }}</td>
                                <td>{{ group.selectedProduct ? group.selectedProduct.productsName : '' }}</td>
                                <td>{{ group.amount }}</td>
                                <td>{{ group.unitsMeasure }}</td>
                                <td>{{ group.notes }}</td>
                                <td class="image">
                                    <img *ngIf="group.selectedProduct" [src]="group.selectedProduct.productsImages" />
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>

            <div class="batton_block">
                <button type="button" class="btn" (click)="addIng('add')">
                    Додати інгриідієнти
                </button>
                <button type="button" class="btn" (click)="addIng('edit')">
                    Редагувати списиок
                </button>
            </div>


            <div class="batton_bloxk allstep">
                <button type="button" class="btn back" (click)="back()">
                    Назад
                </button>

                <button type="button" class="btn next" (click)="nextStep('four')">
                    Далі
                </button>

            </div>

        </div>


        <div *ngIf="formStep === 4" class="input_section steps">
            <h2>Інструкції</h2>
            <div class="cooking_steps">
                <ul class="step_list">
                    <li *ngFor="let step of instructions; let i = index">
                        <input class="step_title" type="text" placeholder="Введіть тут заголовок розділу інструкцій"
                            [(ngModel)]="step.title">
                        <div class="step_body">
                            <div class="step_image">
                                <h4>Додати зображення</h4>
                                <div class="input load_image">
                                    <div class="load_file">
                                        <input class="form-control form-control-lg" type="file"
                                            (change)="stepUpload($event, i)" />
                                    </div>

                                    <div class="progress_line">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped" role="progressbar"
                                                aria-label="Default striped example" [style.width.%]="uploadPercent"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div class="image_block">

                                        <img *ngIf="step.image" [src]="step.image" alt="Зображення кроку рецепту">


                                    </div>

                                    <div (click)="deleteStepImage(i)" type="button">
                                        <img src="../../../../assets/icons/del.svg" alt="Видалити"> Видалити
                                    </div>

                                </div>
                            </div>
                            <div class="step_description">
                                <input class="name_instruction" type="text" placeholder="Назва інструкції"
                                    [(ngModel)]="step.name">
                                <textarea class="description_instructions" name="" id="" cols="30" rows="10"
                                    [(ngModel)]="step.description"></textarea>
                            </div>
                        </div>


                    </li>


                </ul>
                <div class="btn_block">
                    <button (click)="addInstructionStep()" class="btn" type="button">Додати крок</button>
                </div>
            </div>

            <div class="batton_bloxk allstep">
                <button type="button" class="btn back" (click)="back()">
                    Назад
                </button>

                <button type="button" class="btn next" (click)="nextStep('five')">
                    Далі
                </button>

            </div>

        </div>

        <div *ngIf="formStep === 5" class="input_section steps">
            <h2>Попередній перегляд</h2>

            <div class="preview">
                <div class="header">
                    <div class="img">
                        <img [src]="recipesForm.get('mainImage')?.value" alt="">
                    </div>
                </div>


            </div>


        </div>
    </div>

</section>