.modal-content {
    width: 560px;
    text-align: center;
    display: flex;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    text-align: left;
    background: var(--clr-white);
    border-radius: 12px;
    padding: 40px;

    .btn-close {
        position: absolute;
        top: 25px;
        right: 25px;
        border: none;
        cursor: pointer;
    }

    .title {

        position: relative;
        margin: 0 auto;
        font-size: 25px;
        line-height: 1.33em;
        font-weight: 600;
        color: var(--clr-black);

        &:before {
            content: "";
            position: absolute;
            top: -20px;
            left: -28px;
            width: 26px;
            height: 73px;
            background: url(https://firebasestorage.googleapis.com/v0/b/final-project-393613.appspot.com/o/decor%2Ftitle-decor.svg?alt=media&token=4f1d068e-62ba-4382-bd06-fa329a6710f5);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: block;

        }
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;

        .user_contact,
        .user_pass,
        .user_name {
            width: 100%;
            display: flex;
            flex-direction: column;


            P {
                color: var(--clr-grey);
                font-weight: 300;
                font-size: 12px;
                line-height: 1.5em;
            }
        }

        .user_name,
        .user_pass {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            input {
                width: 45%;
            }

            span {
                width: 100%;
                text-align: center;
                color: var(--clr-one);
            }
        }
    }

    .checkbox-entry {
        display: inline-block;
        cursor: pointer;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        min-width: 30px;
        min-height: 20px;

        input {
            height: 15px;
            margin-right: 2px;
            padding: 0;
        }

        span {
            font-weight: 300;
            font-size: 12px;
            line-height: 1.5em;
            color: var(--clr-grey);

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                border: 1px solid #d1d9ce;
                border-radius: 2px;
                transition: var(--transition);

            }

            a {
                color: var(--clr-two);
            }
        }
    }

    .social_auth {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;

        .social_auth_btn {
            width: 45%;
            height: 50px;
            text-decoration: none;
            line-height: 1;
            border-radius: 1.5rem;
            overflow: hidden;
            position: relative;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
            background-color: #fff;
            color: #121212;
            border: none;
            cursor: pointer;


            .button-decor {
                position: absolute;
                inset: 0;
                background-color: var(--clr-two);
                transform: translateX(-100%);
                transition: transform .3s;
                z-index: 0;
            }

            .button-content {
                display: flex;
                align-items: center;
                font-weight: 600;
                position: relative;
                overflow: hidden;


                .button__icon {
                    width: 48px;
                    height: 48px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    margin-right: 10px;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .button__text {
                    display: inline-block;
                    transition: color .2s;
                    padding: 2px 1.5rem 2px;
                    padding-left: .75rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 150px;
                    vertical-align: middle
                }
            }

            &:hover .button__text {
                color: #fff;
            }

            &:hover .button-decor {
                transform: translate(0);
            }
        }

    }


    .popup-links-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 1.5em;
        color: var(--clr-grey);
        margin-top: 20px;


        div a {
            color: var(--clr-one);
            cursor: pointer;
        }


    }
}

@media (max-width:524px) {
    .modal-content {
        width: 100%;
        height: 90vh;
        overflow: auto;
        padding: 16px;


        .modal-body {

            .user_name,
            .user_pass {
                flex-wrap: nowrap;
                flex-direction: column;

                input {
                    width: 100% !important;
                    margin-top: 16px;
                }

            }
        }


    }
}