<section>
    <h2>Категорії продуктів</h2>

    <button class="btn" type="button" (click)="addModal('add', 0)">
        ДОДАТИ КАТЕГОРІЮ ПРОДУКТІВ
    </button>

    <div class="table" [ngClass]="{ active: active_form }">
        <table>
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Назва</th>
                    <th scope="col">Дії</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of productsCategories; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ category.productCategoryName}}</td>
                    <td>{{category.productCategoryLink}}</td>
                    <td class="btn_tr">
                        <a (click)="addModal('edit',category)" type="button" title="Редагувати">
                            <img src="../../../../assets/icons/edit.svg" alt="Редагувати">
                        </a>
                        <a (click)="delCategory(category)" type="button" title="Видалити">
                            <img src="../../../../assets/icons/del.svg" alt="Видалити">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</section>