<section>

    <div class="text-center">
        <h1>Кабінет адміністратора</h1>
    </div>
    <ul class="admin_menu">
        <li [routerLink]="[ item.link ]" routerLinkActive="active" *ngFor="let item of list"
            (click)="onSelectItem(item)" [class.active]="item == activeItem">
            <div class="text">
                <p class="nav-link">{{item.name}}</p>
            </div>

        </li>
        <li>
            <div class="text">
                <p (click)="logout()">ВИЙТИ</p>
            </div>
        </li>
    </ul>
    <div class="aadmin_category">
        <router-outlet></router-outlet>
    </div>

</section>