<section>

    <h2>Страви</h2>

    <button class="btn" (click)="addModal('add', 0)" type="button">
        ДОДАТИ СТРАИ
    </button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Індекс</th>
                <th scope="col">Назва</th>
                <th scope="col">Лінк</th>
                <th scope="col">Картинка</th>
                <th scope="col">Дії</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dishes of dishes; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ dishes.dishesindex}}</td>
                <td>{{dishes.dishesName}}</td>
                <td>{{dishes.dishesLink }}</td>
                <td class="image">
                    <img [src]="dishes.image" />
                </td>
                <td class="btn_tr">
                    <a (click)="addModal('edit',dishes)" type="button" title="Редагувати">
                        <img src="../../../../assets/icons/edit.svg" alt="Редагувати">
                    </a>
                    <a (click)="delDishes(dishes)" type="button" title="Видалити">
                        <img src="../../../../assets/icons/del.svg" alt="Видалити">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>



</section>